article {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--c-black-t1);
}

article > div {
    padding: var(--rem-xs);
    border: 2px solid var(--c-black);
    background: var(--c-white);
    width: 50%;
}

footer {
    /* margin-top: .5rem;
    padding-top: .5rem; */
    border-top: 1px solid var(--c-white-d3);
}