<section
    [ngClass]="{
        'expanded' : state === 'expanded',
        'visible' : state === 'visible',
        'hidden' : state === 'hidden'}">
    
    @if(popupSnake$ | async; as p) {
        @if(p.head && state !== 'hidden') {
            <div
                class="message"
                [ngClass]="{
                    'info' : p.head.type === 'info',
                    'success' : p.head.type === 'success',
                    'warning' : p.head.type === 'warning',
                    'error' : p.head.type === 'error' }">
                <span class="message-text">
                    {{ p.head.message }}
                </span>
                <span class="message-after">
                    <i (click)="toggleExpanded()" class="ra ra-telescope"></i>
                    <i (click)="hide()" class="ra ra-bleeding-eye"></i>
                    <i (click)="clear()" class="ra ra-cancel"></i>
                    
                    <span class="message-count">
                        {{ p.tail.length + 1 }}
                    </span>
                </span>
            </div>
        }
    
        @if(state === 'expanded') {
            @for (x of p.tail; track $index) {
                <div
                    class="message" 
                    [ngClass]="{
                    'info' : x.type === 'info',
                    'success' : x.type === 'success',
                    'warning' : x.type === 'warning',
                    'error' : x.type === 'error' }">
                    <span class="message-text">
                        {{ x.message }}
                    </span>
                    <span class="message-after">&nbsp;</span>
                </div>
            }
        }
    }
</section>