@import "./assets/css/variables.css";
@import "./assets/css/scrollbar.css";
@import "./assets/css/buttons.css";

* {
    transition: var(--transition);
}

html, body {
    margin: 0;
    padding: 0;
}

i {
    font-size: 1.2rem;
}