@import "./assets/css/buttons.css";
@import "./assets/css/icons.css";
@import "./assets/css/scrollbar.css";
@import "./assets/css/variables.css";

* {
    transition: var(--transition);
}

html, body, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

html, body {
    
    font-size: 1.2rem;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    margin: var(--rem) 0rem;
    font-size: var(--rem);

    th {
        color: var(--c-white);
        background-color: var(--c-black);
        text-align: center;
    }

    tbody tr:nth-of-type(even) {
        background-color: var(--c-white-d1);
    }
}