.datalist {
    margin: var(--rem) 0rem;
    font-size: var(--rem);
}

dt, dd {
    margin: 0;
}

.kv-block {
    width: 20%;
}

.kv-block > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    padding: 0;
}

.children-block {
    margin-left: var(--rem);
}