@if(category) {
<dl class="datalist">
    <div class="kv-block">
        <div>
            <dt>Name:</dt>
            <dd>{{ category.name }}</dd>
        </div>
        <div>
            <dt>Subcategory count:</dt>
            <dd>{{ category.childCategories.length }}</dd>
        </div>
    </div>
    <details>
        <summary>Children</summary>
        <div class="children-block">
            <dd>
                <ul>
                    @for(child of category.childCategories; track $index) {
                    <li>
                        <category-tree [category]="child"></category-tree>
                    </li>
                    }
                </ul>
            </dd>
        </div>
    </details>
</dl>
}