<article>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Company</th>
            </tr>
        </thead>
        <tbody>
            @for(isd of (itemShoppingDetails$ | async); track isd.id) {
                <tr>
                    <td>{{ isd.name }}</td>
                    <td>{{ isd.categoryName }}</td>
                    <td>{{ isd.companyName }}</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="table-nav">
        <span>
            <label>
                Page size: <input type="number" min="5" max="20" />
            </label>
            <span>
                <button (click)="page$.next(1)"><<</button>
                <button (click)="page$.next(page$.value - 1)"><</button>
                <span>Page {{ page$.value }}</span>
                <button (click)="page$.next(page$.value + 1)">></button>
                <button (click)="page$.next(pageCount)">>></button>
            </span>
        </span>
    </div>
</article>