<section class="subpage">
  <div>
    <app-uom-list
      (onCreate)="showComponent('createForm')"
      (onUpdate)="showComponent('updateForm')"
      (onRemove)="deleteUom($event)">
    </app-uom-list>
  </div>
  <div>
    @switch ($component()) {
      @case ("createForm") {
        <app-create-uom-form (onSubmitDone)="showComponent(null)"></app-create-uom-form>
      }
      @case ("updateForm") {
        <app-update-uom-form [$uom]="$selectedUom()!"></app-update-uom-form>
      }
    }
  </div>
  <div>
  </div>
</section>