header {
    padding: var(--rem-xs);
    
    color: var(--c-white);
    background-color: var(--c-black);
    
    h1 {
        margin: 0;
    }
}


hgroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
}