<div (submit)="onSubmit($event)">
    <fieldset>
        <legend>Create Item</legend>
        <div>
            <label>
                <span>Item type:</span>
                <select (change)="onItemTypeChanged($event)">
                    <option value="element">Element</option>
                    <option value="composite">Composite</option>
                </select>
            </label>
        </div>
        <hr />
        <div>
            @switch (itemType()) {
                @case ("element") {
                    <element-item-form [formType]="formType"></element-item-form>
                }
                @case ("composite") {
                    <composite-item-form></composite-item-form>
                }
            }
        </div>
    </fieldset>
</div>