header, nav {
    padding-top: var(--rem);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


h2 {
    margin: 0rem 0rem var(--rem);
}

nav {
    background-color: var(--c-white-d2);
    height: 100%;
}

ul {
    padding: var(--rem-xxs);
    margin: 0;
    list-style: none;
    
    li {
        height: 2rem;
    }
}

a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
}

.sub-page {
    flex-grow: 20;
    padding: 0rem var(--rem-xs);
}

.selected-icon {
    border-top: var(--rem-xxxs) solid var(--c-black);
}