<section>
    <header>
        <h2>Home</h2>
        <nav>
            <ul>
                <li>
                    <!-- companies -->
                    <i class="ra ra-suits"></i>
                </li>
                <li>
                    <!-- items -->
                    <i class="ra ra-bone-knife"></i>
                </li>
                <li>
                    <!-- events -->
                    <i class="ra ra-lightning"></i>
                </li>
            </ul>
        </nav>
    </header>
    <article>
        I have content
    </article>
</section>