header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


h2 {
    margin: 0rem 0rem var(--rem);
    padding: 0rem var(--rem-xs);
}

ul {
    display: flex;
    padding: var(--rem-xs);
    margin: 0;
    list-style: none;
}

.sub-page {
    flex-grow: 20;
    padding: 0rem var(--rem-xs);
}

.selected-icon {
    border-bottom: var(--rem-xxs) solid var(--c-black);
}