<section>
    <header>
        <h2>{{ page$() }}</h2>
        <hr />
        <nav>
            <ul>
                @for(i of iconList; track $index) {
                    <li [ngClass]="{'selected-icon': page$() === i.pageName}">
                        <i (click)="page$.set(i.pageName)" class="{{i.icon}}"></i>
                    </li>
                }
            </ul>
        </nav>
    </header>
    <article>
        @switch (page$()) {
            @case ('Company') {
                <company-overview></company-overview>
            }
            @case ('Companies') {
                <div>Companies</div>
            }
            @case ('Units of Measure') {
                <uom-overview></uom-overview>
            }
            @case ('Items') {
                <div>Items</div>
            }
            @case ('Events') {
                <div>Events</div>
            }
            @case ('Users') {
                <user-management></user-management>
            }
            @case ('Account') {
                <account-page></account-page>
            }
        }
    </article>
</section>