<form (submit)="registerUser($event, username.value, email.value, admin.checked)">
    <fieldset>
        <legend>Register</legend>
        <div class="form-fields">
            <label>
                <span>Username:</span>
                <input #username type="text" />
            </label>
            
            <div class="error">
            </div>
        
            <label>
                <span>Email:</span>
                <input #email type="text" />
            </label>
            
            <div class="error">
            </div>
        
            <label>
                <span>Admin:</span>
                <input #admin type="checkbox" />
            </label>
            <div class="error">
            </div>

            <label>
                <span>Permissions:</span>
                <permission-map (onMapChanged)="userPermissions = $event" [editable]="true" [user]="null"></permission-map>
            </label>
        </div>
    
        <div>
        </div>
        
        <button type="submit">Submit</button>
    </fieldset>
</form>
