<app-dialog-wrapper #wrapper>
    <ng-container ngProjectAs="[header]">
        <h2>Register User</h2>
    </ng-container>

    <ng-container ngProjectAs="[body]">
        <form>
            <div>
                <label>
                    <span>Username</span>
                    <input #username type="text" />
                </label>
            </div>

            <div>
                <label>
                    <span>Email</span>
                    <input #email type="text" />
                </label>
            </div>

            <div>
                <label>
                    <span>Admin</span>
                    <input #admin type="checkbox" />
                </label>
            </div>

            <div>
                <permission-map (onMapChanged)="mapPermissions($event)" [editable]="true" [user]="null"></permission-map>
            </div>
        </form>
    </ng-container>

    <ng-container ngProjectAs="[footer]">
        <button (click)="registerUser(username.value, email.value, admin.checked)">Ok</button>
        <button (click)="wrapper.close()">Cancel</button>
    </ng-container>
</app-dialog-wrapper>