.wrapper {
    position: absolute;
    z-index: 2000;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    background: var(--c-black-t1);
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 2rem;
}

.body {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    text-align: center;
    color: var(--c-white);
}

.la-cog {
    color: wheat;
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: transparent;
    border: 2px dashed wheat;
    border-radius: 100%;
    animation-name: cog-rotate;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
}

.la-cog > i {
    font-size: 2rem;
    color: wheat;
    background-color: transparent;
}

/*
 * Animation
 */
@keyframes cog-rotate {
    0% {
        -webkit-transform: rotate(0deg);
           -moz-transform: rotate(0deg);
             -o-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
           -moz-transform: rotate(360deg);
             -o-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}