<section>
    <div class="content">
        <nav>
            <ul>
                @for(i of pages; track $index) {
                    <li (click)="page$.set(i.pageName)" [ngClass]="{'selected-icon': page$() === i.pageName}">
                        <a routerLink="{{i.route}}">
                            <i class="{{i.icon}}"></i>
                        </a>
                    </li>
                }
            </ul>
        </nav>
        <section class="sub-page">
            <header>
                <h2>{{ page$() }}</h2>
                <hr />
            </header>
            <router-outlet></router-outlet>
        </section>
    </div>
</section>