@if(user) {
    <form (submit)="editUser($event, name.value, email.value, isAdmin.checked)">
        <fieldset>
            <legend>Edit</legend>
            <div>
                <label>
                    <span>Name</span>
                    <input type="text" #name [value]="user.name" readonly />
                </label>
                <label>
                    <span>Email</span>
                    <input type="text" #email [value]="user.email" />
                </label>
                <label>
                    <span>Admin</span>
                    <input type="checkbox" #isAdmin [checked]="user.isAdmin" />
                </label>
            </div>
            <div>
                <permission-map (onMapChanged)="permissions = $event" [editable]="true" [user]="user"></permission-map>
            </div>

            <button type="submit">Ok</button>
        </fieldset>
    </form>
}
