h3 {
    margin: var(--rem) 0rem;
}

section {
    margin: var(--rem) 0rem;
}

.table {
    width: 25%;
}

tr > th:nth-child(1), tr > td:nth-child(1) {
    text-align: left;
}

tr > th:nth-child(2), tr > td:nth-child(2) {
    text-align: center;
}

tr > th:nth-child(3), tr > td:nth-child(3) {
    text-align: right;
}