@if(overview$ | async; as overview) {
    <h3>{{ overview.name }}</h3>
    <article class="page">
        <section>
            <select (change)="onDataViewSelected($event)" class="data-view-select">
                <option value="categories">Categories</option>
                <option value="employees">Employees</option>
            </select>
        </section>
        <section>
            @if(dataView$() === 'categories') {
                <h4>Categories</h4>
                @for(category of overview.categories; track category.id) {
                    <category-tree [category]="category"></category-tree>
                }
            }
            @else if (dataView$() === 'employees') {
                <h4>Employees</h4>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Admin</th>
                            <th>Created at</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(employee of overview.employees; track employee.id) {
                            <tr>
                                <td>{{ employee.name }}</td>
                                <td>{{ employee.isAdmin }}</td>
                                <td>{{ employee.auditRecord.createdAt }}</td>
                            </tr>
                            }
                    </tbody>
                </table>
            } 
        </section>
    </article>
}
