<form [formGroup]="form" (submit)="onSubmit($event)">
    <label>
        <div class="input">
            <span>Name:</span>
            <input formControlName="name" />
        </div>
        @if(formSubmitted && form.controls.name.invalid && form.controls.name.dirty) {
            <div class="error">Name must have at least 2 characters</div>
        }
    </label>

    <label>
        <div class="input">
            <span>Production Price:</span>
            <input formControlName="productionPrice" />
        </div>
        @if(formSubmitted && form.controls.productionPrice.invalid) {
            <div class="error">Production price cannot be negative</div>
        }
    </label>

    <label>
        <div class="input">
            <span>Production Time (seconds):</span>
            <input formControlName="productionTimeSeconds" />
        </div>
        @if(formSubmitted && form.controls.productionTimeSeconds.invalid) {
            <div class="error">Production time cannot be negative</div>
        }
    </label>

    <label>
        <div class="input">
            <span>Can expire:</span>
            <input type="checkbox" formControlName="canExpire" />
        </div>
    </label>

    <label [class.disabled] = "!form.controls.canExpire.value">
        <div class="input">
            <span>Expiration Time (seconds):</span>
            <input formControlName="expirationTimeSeconds" [readOnly]="!form.controls.canExpire.value" />
        </div>
        @if(formSubmitted && form.controls.expirationTimeSeconds.invalid) {
            <div class="error">Expiration time cannot be negative</div>
        }
    </label>

    <label>
        <div class="input">
            <span>Unit Price:</span>
            <input formControlName="unitPrice" />
        </div>
        @if(formSubmitted && form.controls.unitPrice.invalid) {
            <div class="error">
                Unit price cannot be negative
            </div>
        }
    </label>

    <label>
        <div class="input">
            <span>Category:</span>
            <select formControlName="categoryId">
                @for(x of formData.categories; track $index) {
                    <option [ngValue]="x.id">{{ x.name }}</option>
                }
            </select>
        </div>
        @if(formSubmitted && form.controls.categoryId.invalid) {
            <div class="error">
                Category is required
            </div>
        }
    </label>

    <label>
        <div class="input">
            <span>Unit of Measure:</span>
            <select formControlName="unitOfMeasureId">
                @for(x of formData.unitsOfMeasure; track $index) {
                    <option [ngValue]="x.id">{{ x.name }}</option>
                }
            </select>
        </div>
        @if(formSubmitted && form.controls.unitOfMeasureId.invalid) {
            <div class="error">
                Unit of Measure is required
            </div>
        }
    </label>

    <button (click)="onSubmit($event)">Submit</button>
</form>
