<!-- @if(permissions$(); as permissions) { -->
    <dl class="permission-list">
        @for(x of permissions; track x.section; let sIdx = $index) {
        <div>
            <dt>{{ x.section }}</dt>
            <dd>
                <ul>
                    @for(p of x.permissions; track p.name; let pIdx = $index) {
                    <li>
                        <div>
                            <dt>{{ p.name }}</dt>
                            <dd>
                                @if(editable) {
                                    <input type="checkbox" (change)="p.hasPermission = !p.hasPermission; emitMap()" [checked]="p.hasPermission" />
                                }
                                @else {
                                    <input type="checkbox" readonly disabled checked={{p.hasPermission}} />
                                }
                            </dd>
                        </div>
                    </li>
                    }
                </ul>
            </dd>
        </div>
        }
    </dl>
<!-- } -->