@if(permissions) {
    <dl class="permission-list">
        @for(up of permissions; track up.section) {
        <div>
            <dt>{{ up.section }}</dt>
            <dd>
                <ul>
                    @for(v of up.values; track $index) {
                        <li>
                            <div>
                                <dt>{{ v.permission }}</dt>
                                <dd>
                                    <input type="checkbox" readonly disabled checked={{v.hasPermission}} />
                                </dd>
                            </div>
                        </li>
                    }
                </ul>
            </dd>
        </div>
        }
    </dl>
}