h3 {
  padding: 0;
}

ul {
  min-height: 10rem;
  max-height: 10rem;
  overflow-y: auto;
}

.flex, .recipe > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex > div {
  flex: 1;
}

.add:hover {
  background-color: var(--color5-l2);
}

.remove:hover {
  background-color: var(--color7-l2);
}