@let form = $form();
@let formData = $formData();
@if(form && formData) {
  @let cs = form.controls;
  <form (submit)="onSubmit($event)">
    <fieldset>
      <legend>Update element item</legend>
      <div class="form-fields">
        <div>
          <label>
            <span>Name:</span>
            <input #name (input)="cs.name.setValue(name.value)" [value]="cs.name.value" type="text" />
          </label>
          <app-form-error [$errors]="cs.name.errors"></app-form-error>
        </div>
    
        <div>
          <label>
            <span>Production Price:</span>
            <input #pprice (input)="cs.productionPrice.setValue(pprice.value)" [value]="cs.productionPrice.value" type="number" />
          </label>
          <app-form-error [$errors]="cs.productionPrice.errors"></app-form-error>
        </div>
    
        <div>
          <label>
            <span>Production Time (seconds):</span>
            <input #ptime (input)="cs.productionTimeSeconds.setValue(ptime.value)" [value]="cs.productionTimeSeconds.value" type="number" />
          </label>
          <app-form-error [$errors]="cs.productionTimeSeconds.errors"></app-form-error>
        </div>
    
        <div>
          <label>
            <span>Can expire:</span>
            <input #canExpire (change)="cs.canExpire.setValue(canExpire.checked)" [checked]="cs.canExpire.value" type="checkbox" />
          </label>
        </div>
    
        <div>
          <label [class.disabled]="!cs.canExpire.value">
            <span>Expiration Time (seconds):</span>
            <input #expTime (input)="cs.expirationTimeSeconds.setValue(expTime.value, !cs.canExpire.value)" [value]="cs.expirationTimeSeconds.value" type="number" [readOnly]="!cs.canExpire.value" />
          </label>
          <app-form-error [$errors]="cs.expirationTimeSeconds.errors"></app-form-error>
        </div>
    
        <div>
          <label>
            <span>Unit Price:</span>
            <input #uprice (input)="cs.unitPrice.setValue(uprice.value)" [value]="cs.unitPrice.value" type="number" />
          </label>
          <app-form-error [$errors]="cs.unitPrice.errors"></app-form-error>
        </div>
    
        <div>
          <label>
            <span>Category:</span>
            <select #category (change)="cs.categoryId.setValue(category.value)">
              @for(x of formData.categories; track $index) {
                <option [value]="x.id" [selected]="x.id === cs.categoryId.value">{{ x.name }}</option>
              }
            </select>
          </label>
          <app-form-error [$errors]="cs.categoryId.errors"></app-form-error>
        </div>
    
        <div>
          <label>
            <span>Unit of Measure:</span>
            <select #uom (change)="cs.unitOfMeasureId.setValue(uom.value)" [value]="cs.unitOfMeasureId.value">
              @for(x of formData.unitsOfMeasure; track $index) {
              <option [value]="x.id" [selected]="x.id === cs.unitOfMeasureId.value">{{ x.name }}</option>
              }
            </select>
          </label>
          <app-form-error [$errors]="cs.unitOfMeasureId.errors"></app-form-error>
        </div>
      </div>
  
      <button type="submit">Submit</button>
    </fieldset>
  
  </form>
}