<section class="subpage">
    <div>
        <app-item-list
            (onCreate)="openDialog()"
            (onUpdate)="showComponent('cc')"
            (onRemove)="removeItem($event)">
        </app-item-list>
    </div>
    <div>
        @switch ($component()) {
            @case ("ce") {
                <app-create-element-item-form (onSubmitDone)="onItemCreated($event)" (onFormDataError)="onFormError($event)"></app-create-element-item-form>
            }
            @case ("ue") {
                <app-update-element-item-form [$updateItem]="$selectedItem()!" (onSubmitDone)="onItemUpdated($event)" (onFormDataError)="onFormError($event)"></app-update-element-item-form>
            }
            @case ("cc") {
            }
            @case ("uc") {
            }
        }
    </div>
    <div></div>
</section>