@let selectedItem = $selectedItem();
<section class="subpage">
  <div>
    <div class="flex">
      <button (click)="openDialog()" class="info" title="Create">
        <i class="las la-plus"></i>
      </button>
      @if(selectedItem) {
      <button (click)="showForm(selectedItem)" class="warn" title="Update">
        <i class="las la-pen-fancy"></i>
      </button>
      <button (click)="showProductionForm(selectedItem)">
        <i class="las la-hammer"></i>
      </button>
      <button (click)="removeItem(selectedItem)" class="danger" title="Remove">
        <i class="las la-trash"></i>
      </button>
      }
    </div>
    <app-item-list (onSelected)="selectItem($event)"></app-item-list>
  </div>
  <div>
    @switch ($display()) {
    @case ("create-element-form") {
      <app-create-element-item-form
        (onSubmitDone)="onItemCreated($event)"
        (onFormDataError)="onFormError($event)">
      </app-create-element-item-form>
      }
      @case ("update-element-form") {
      <app-update-element-item-form
        [$updateItem]="$selectedItem()!"
        (onSubmitDone)="onItemUpdated($event)"
        (onFormDataError)="onFormError($event)">
      </app-update-element-item-form>
      }
      @case ("create-composite-form") {
      <app-create-composite-item-form
        (onSubmitDone)="onItemCreated($event)"
        (onFormDataError)="onFormError($event)">
      </app-create-composite-item-form>
      }
      @case ("update-composite-form") {

      }
      @case ("element-production-form") {
      <app-element-item-production-form [$item]="$selectedItem()!"></app-element-item-production-form>
      }
      @case ("composite-production-form") {
        <app-element-item-production-form [$item]="$selectedItem()!"></app-element-item-production-form>
        }
    }
  </div>
  <div>
    @if(selectedItem) {
      <a [routerLink]="['/home/instances']" [queryParams]="{itemId: selectedItem.id}">Instances</a>
    }
  </div>
</section>