ul {
  margin: var(--rem-xxs) 0;
}

.element-list > li {
  display: flex;
  justify-content: space-between;
}

.element-actions {
  display: flex;
  justify-content: space-between;
}

.item-pick {
  ul {
    flex: 1 0 50%;
    min-height: 5rem;
    max-height: 7rem;
    overflow-y: auto;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;

      button {
        margin: 0;
      }

      div:nth-child(odd) {
        flex: 5 0;
        background-color: red;
      }

      div:nth-child(even) {
        flex: 1 0;
      }
    }

    .item-qty {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  } 
}