<section>
    <h3>General</h3>
    @if(user$(); as user) {
        <dl>
            <div>
                <dt>Name:</dt>
                <dd>{{ user.name }}</dd>
            </div>
            <div>
                <dt>Company:</dt>
                <dd>{{ user?.company?.name }}</dd>
            </div>
            <div>
                <dt>Admin:</dt>
                <dd>{{ user.isAdmin ? 'Yes' : 'No' }}</dd>
            </div>
        </dl>
    }
</section>
<section>
    <h3>Permissions</h3>
    @if(user$(); as user) {
        <permission-map [user]="user"></permission-map>
    }
</section>