<section>
    <h3>General</h3>
    <dl>
        <div>
            <dt>Name:</dt>
            <dd>{{ user$()?.name }}</dd>
        </div>
        <div>
            <dt>Company:</dt>
            <dd>{{ user$()?.company?.name }}</dd>
        </div>
        <div>
            <dt>Admin:</dt>
            <dd>{{ user$()?.isAdmin ? 'Yes' : 'No' }}</dd>
        </div>
    </dl>
</section>
<section>
    <h3>Permissions</h3>
    @if(user$(); as user) {
        <app-permission-map [editable]="true" [userr]="user"></app-permission-map>
    }
</section>