@if(users$ | async; as users) {
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Display Name</th>
                <th>Admin</th>
                <th>Company</th>
                @if(currentUser!.isAdmin) {
                    <th>Actions</th>
                } 
            </tr>
        </thead>
    <tbody>
        @for(user of users; track $index) {
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.displayName }}</td>
                <td>{{ user.isAdmin }}</td>
                <td>{{ user.company.name }}</td>
                @if(currentUser!.isAdmin) {
                    <td class="action-buttons">
                        <i (click)="onUserEdit.emit(user)" class="ra ra-quill-ink"></i>
                        <i (click)="openDeleteUserDialog(user)" class="ra ra-skull"></i>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>  
}