/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--c-grey-d1);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--c-grey);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--c-green-d1);
}