@if(appUser$(); as appUser) {
    <article class="page">
        <section>
            <button (click)="setEditor('Create')" class="create">Create Unit of Measure</button>
            <uom-list [appUser]="appUser" [unitsOfMeasure$]="unitsOfMeasure$"></uom-list>
        </section>
        <section>
            @if(editor$().visible) {
                @switch (editor$().mode)
                {
                    @case ('Create') {
                        <uom-editor (onSubmitted)="create($event)" title="Create"></uom-editor>
                    }
                    @case ('Edit') {
                        <uom-editor (onSubmitted)="edit($event)" title="Create" [uom]="editor$().data"></uom-editor>
                    }
                }
            }
        </section>
    </article>
}