section {
    position: absolute;
    left: 0;
    right: 0;
    
    max-height: 12rem;
    overflow-y: auto;
}

button {
    width: fit-content;
    border: none;
}

button:focus {
    color: unset;
}

i, .message {
    font-size: 1rem;
}

.message {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: var(--rem-xxs) 0rem;
}

.message-text {
    width: 30%;
    background-color: var(--c-white);
    color: var(--c-black);
}

.message-after {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.message-count {
    width: 3rem;
    text-align: center;
}

.info {
    color: var(--c-white);
    background-color: var(--c-blue-d1);
}

.success {
    color: var(--c-white);
    background-color: var(--c-green-d1);
}

.warning {
    color: var(--c-white);
    background-color: var(--c-orange-d1);
}

.error {
    color: var(--c-white);
    background-color: var(--c-red-d1);
}

.expanded {
    height: fit-content;
    max-height: 12rem;
}

.visible {
    height: fit-content;
}

.hidden {
    height: 0rem;
}