.datalist {
    margin: var(--rem) 0rem;
    padding: var(--rem-xxs);
    font-size: var(--rem);
    box-shadow: 1px 1px 5px var(--c-black-l2);
}

dt, dd {
    margin: 0;
}

.kv-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  

ul {
    padding: 0;
}

.children-block {
    margin-left: var(--rem);
}