@let instances = $instancesInfo();
<ul>
  @for(x of instances; track $index) {
  <li class="hoverable clickable">
    <dl>
      <div>
        <dd>Item:</dd>
        <dt>{{ $item().name }}</dt>
      </div>

      <div>
        <dd>Quantity:</dd>
        <dt>{{ x.quantityLeft }}</dt>
      </div>

      <div>
        <dd>Expires at:</dd>
        <dt>{{ x.expiryDate ?? 'No expiry date' }}</dt>
      </div>

      <div>
        <dd>State:</dd>
        <dt>Compute state with pipe here</dt>
      </div>
    </dl>
  </li>
  }
</ul>