@let instances = $instances();
@let selected = $selected();
<ul>
  @for(instance of instances; track $index) {
  <li (click)="onSelected.emit(instance)" [ngClass]="{'selected': selected?.id === instance.id}"
    class="hoverable clickable">
    <dl>
      <div>
        <dd>Item:</dd>
        <dt>{{ $item().name }}</dt>
      </div>

      <div>
        <dd>Quantity:</dd>
        <dt>{{ instance.quantity }}</dt>
      </div>

      <div>
        <dd>Expires at:</dd>
        <dt>{{ instance.expiryDate ?? 'No expiry date' }}</dt>
      </div>

      <div>
        <dd>State:</dd>
        <dt>Compute state with pipe here</dt>
      </div>
    </dl>
  </li>
  }
</ul>