<form [formGroup]="form" (submit)="onSubmit($event)">
  <fieldset>
    <legend>Create Unit of Measure</legend>
    <div class="form-fields">
      <div>
        <label>
          <span>Name:</span>
          <input formControlName="name" />
        </label>
        <small>
          @if(formSubmitted && form.controls.name.invalid) {
            <div>Name must have at least 2 characters</div>
         }
        </small>
      </div>
  
      <div>
        <label>
          <span>Symbol:</span>
          <input formControlName="symbol" />
        </label>
        <small>
          @if(formSubmitted && form.controls.symbol.invalid) {
            <div>Symbol must have at least 1 character</div>
          }
        </small>
      </div>
    </div>
  
    <button type="submit">Submit</button>
  </fieldset>
</form>