<form (submit)="onSubmit($event)">
  <fieldset>
    <legend>Create Unit of Measure</legend>
    <div class="form-fields">
      <div>
        <label>
          <span>Name:</span>
          <input #name (change)="f.controls.name.setValue(name.value)" type="text" />
        </label>
        <small>
          @let nameErrors = f.controls.name.errors;
          @if(nameErrors.length > 0) {
            <ul>
            @for(e of nameErrors; track $index) {
              <li>{{ e }}</li>
            }
            </ul>
          }
        </small>
      </div>
  
      <div>
        <label>
          <span>Symbol:</span>
          <input #symbol (change)="f.controls.symbol.setValue(symbol.value)" type="text" />
        </label>
        <small class="expandable">
          @let symbolErrors = f.controls.symbol.errors;
          @if(symbolErrors.length > 0) {
            <ul>
              @for(e of symbolErrors; track $index) {
                <li>{{ e }}</li>
              }
            </ul>
          }
        </small>
      </div>
    </div>
  
    <button type="submit">Submit</button>
  </fieldset>
</form>