header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: var(--rem-s) var(--rem);
    
    color: var(--color2);
    background-color: var(--color1);
    min-height: 5vh;
}

button {
    color: var(--color2);
    background-color: var(--color1);
    transition: var(--transition-1);
    font-size: var(--font-xxl);
    
    &:hover {
        color: var(--color7);
    }
}