form button {
    width: 100%;
    margin-top: var(--rem);
}

label {
    font-size: var(--font-s);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label.disabled > * {
    color: var(--color2-d3);
}

input[readonly] {
    background-color: var(--color2-d1);
}

.form-fields > div {
  position: relative;
}

.form-fields > div > label {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.form-fields > div > .error {
  min-height: var(--rem-l);
  max-height: var(--rem);
  overflow-y: hidden;
  color: var(--color7);
}

.form-fields > div > .error:hover {
  max-height: fit-content;
  position: absolute;
  width: 100%;
  z-index: 100;
  background-color: var(--color2);
}


