form button {
    width: 100%;
    margin-top: var(--rem);
}

label {
    font-size: var(--font-s);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label.disabled > * {
    color: var(--color2-d3);
}

input[readonly] {
    background-color: var(--color2-d1);
}

.form-fields > div {
  position: relative;
}

.form-fields > div > label {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.form-fields > div > small {
  display: block;
  font-size: var(--font-form-error);
  min-height: var(--font-form-error);
  max-height: var(--font-form-error);
  overflow-y: hidden;
  color: var(--color7);
  padding: 0rem var(--rem-xxxs);
}

.form-fields > div > small:has(*):hover {
  min-height: calc(var(--font-form-error) * 5);
  max-height: calc(var(--font-form-error) * 5);

  border-left: 1px solid var(--color7);
  border-right: 1px solid var(--color7);
  border-bottom: 1px solid var(--color7);

  overflow-y: auto;
  position: absolute;
  width: 100%;
  z-index: 100;
  background-color: var(--color2);
}


