table {
    border-collapse: collapse;
    table-layout: fixed;

    width: 100%;
}

table th {
    color: var(--color2);
    background-color: var(--color1);
    text-align: center;
}

tbody tr:nth-of-type(even) {
    background-color: var(--color2-d1);
}

tr > th, tr > td {
    font-size: var(--font-xs);
}