@let component = $component();
@let selectedTree = $selectedCategory();
<section class="subpage">
  <div>
    <div class="flex">
      <button (click)="showComponent('createForm')" class="info" ariaLabel="create">
        <i class="las la-plus"></i>
      </button>
      @if(selectedTree) {
        <button (click)="showComponent('updateForm')" class="warn" ariaLabel="edit">
          <i class="las la-pen-fancy"></i>
        </button>
        <button (click)="removeCategory(selectedTree)" class="danger" ariaLabel="delete">
          <i class="las la-trash"></i>
        </button>
      }
    </div>
    <app-category-list 
      (onSelected)="selectTree($event)"></app-category-list>
  </div>
  <div>
    @if(component === 'createForm') {
      <app-create-category-form (onSubmitDone)="showComponent(null)"></app-create-category-form>
    }
    @else if(component === 'updateForm') {
      <app-update-category-form [$updateItem]="$selectedCategory()!" (onSubmitDone)="showComponent(null)"></app-update-category-form>
    }
  </div>
  <div>

  </div>
</section>
