<article class="page">
    <section>
        <button (click)="setComponent('create')" class="add-button">Create Item</button>
        @if(appUser$(); as appUser) {
            <item-list
                [appUser]="appUser"
                [items$]="items$"
                (onSelect)="onSelected($event)">
            </item-list>
        }
    </section>
    <section>
        @if(component$(); as c) {
            @switch(c) {
                @case('create') {
                    <item-form formType="create" (onSubmitted)="loadItems()"></item-form>
                }
                @case('edit') {
                    
                }
            }
        }
    </section>
</article>