<article class="page">
    <section>
        <button (click)="setComponent('Create')" class="add-button">Create Item</button>
        @if(appUser$(); as appUser) {
            <item-list
                [appUser]="appUser"
                [items$]="items$"
                (onSelect)="onSelected($event)">
            </item-list>
        }
    </section>
    <section>
        @if(component$(); as c) {
            @switch(c) {
                @case('Create') {
                    <create-item></create-item>
                }
                @case('Edit') {
                    
                }
            }
        }
    </section>
</article>