<article class="page">
    <section>
        @if(currentUser) {
            @if(currentUser.isAdmin) {
                <button (click)="setRegisterComponent()" class="add-user">Register new user</button>
            }
            <user-list #userList [currentUser]="currentUser" (onUserEdit)="setEditComponent($event)"></user-list>
        }
    </section>
    <section>
        @switch (component$()) {
            @case ('edit') {
                <user-edit (onUserEdited)="onUserEdited()" [user]="selectedUser$()!"></user-edit>
            }
            @case ('register') {
                <register-user (onUserRegistered)="onUserRegistered()" [companyId]="currentUser!.company.id"></register-user>
            }
        }
    </section>
</article>