<div>
    @if(currentUser) {
        @if(currentUser.isAdmin) {
            <button>Add new user</button>
        }
        @if(companyUsers$ | async; as users) {
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Admin</th>
                    <th>Company</th>
                    @if(currentUser.isAdmin) {
                        <th>Actions</th>
                    } 
                </tr>
            </thead>
            <tbody>
                @for(user of users; track $index) {
                    <tr>
                        <td>{{ user.name }}</td>
                        <td>{{ user.isAdmin ? 'Yes' : 'No' }}</td>
                        <td>{{ user.company.name }}</td>
                        @if(currentUser.isAdmin) {
                            <td>
                                <button>Edit</button>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>  
        }
    }
</div>