@if(users$ | async; as users) {
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Admin</th>
                <th>Company</th>
                @if(currentUser!.isAdmin) {
                    <th>Actions</th>
                } 
            </tr>
        </thead>
    <tbody>
        @for(user of users; track $index) {
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.isAdmin }}</td>
                <td>{{ user.company.name }}</td>
                @if(currentUser!.isAdmin) {
                    <td>
                        <button (click)="onUserEdit.emit(user)">Edit</button>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>  
}