section {
    display: flex;
}

nav {
    color: var(--color2);
    background-color: var(--color1);
    min-height: 95vh;
}

li {
    transition: var(--transition-1);
    font-size: var(--font-xxxl);

    a {
        color: var(--color5-l1);
        background-color: var(--color1);

        &:hover {
            color: var(--color1);
            background-color: var(--color5-l1);
        }
    }
}

li.selected {
    a {
        color: var(--color1);
        background-color: var(--color5-l1);
    }
}

.subpages {
    width: 100%;
}